/* list */
ul.AIS_list {
    color: #1e366a;
    border-top: solid #1e366a 1px;
    border-bottom: solid #1e366a 1px;
    padding: 0.5em 0 0.5em 1.5em;
}

ul.AIS_list li {
    line-height: 1.5;
    padding: 0.5em 0;
}

/* button demo */
div.AIS_demo {
    margin-bottom: 3em;
}

/* table */
table.AIS_table{
    text-align: center;
    vertical-align: center;
    margin-bottom: 3em;
}

.AIS_table th, .AIS_table td {
    width: 20%;
}

#AIS_value td {
    width: 50px;
}

/* range & color */
.AIS_rangeBar {
    width: 95%;
}

.AIS_colorbar {
    width: 20%;
}